@import url('https://fonts.googleapis.com/css2? family = Catamaran & display = swap');
@import url('https://fonts.googleapis.com/css2? family = Libre + Franklin: wght @ 600 & display = swap');

body
{
    margin: 0;
    font-family: 'Libre Franklin', sans-serif;
    box-sizing: content-box;
    background-color: black;   
}

h1 
{
    font-family: 'Catamaran', sans-serif;
    transition: all 1000ms ease-in-out;
}

main
{
    width: 100%;
    box-sizing: border-box;
}

header
{
    margin-left: 10px;
    margin-right: 10px;
    border: rgb(71, 197, 255) solid 3.5px;;
    width: 100%;
    height: 100px;  
    transition: all 1000ms ease-in-out;
}

header>h1
{
    color: rgb(71, 197, 255);
    padding-top: 25px;
    margin: 0em;
    font-size: 4em;
    text-shadow: white 1.5px 1.5px;
}

nav
{
    position: absolute;
    top: 40px;
    right: 10px;

}

nav>ul>li
{
    display: inline-block;
    border: rgb(71, 197, 255) solid 1px;
    border-radius: 10px;
    background-image: url(./img/back.jpg);
    background-size: 170px;
    transition: all 1000ms ease-in-out;
}

nav>ul>li>a
{
    display: block;
    padding: 13px;
    padding-left: 32px;
    padding-right: 32px;
    text-decoration: none;
    color: white; 
    transition: all 1000ms ease-in-out;  
}

nav>ul>li:hover
{
    transform: translateY(-15px);
    transition: all 1000ms ease-in-out;
}

nav>ul>li>a:hover 
{
    font-size: 20px;
    color:  rgb(71, 197, 255);
    text-shadow: white 1px 1px;
    list-style-type: none; 
    background-image: url(./img/flecha.png); 
    background-repeat: no-repeat; 
    background-position: left;
}

/*Para que el enlace en el que estamos se vea de color blanco*/
nav>ul>li>a:visited
{
   background-color: white;
}


#izquierda
{
    background: white;
    border:rgb(71, 197, 255) solid 5px;
    float: left;
    margin-top: 100px;
    margin-left: 10px;
    width:calc(50% - 25px);
    transition: all 1500ms ease-in-out;
    
}

#izquierda>h1
{
    font-size: 3em;
    margin-top: 0px;
    width: 50%;
    text-align: left;
    float: left;
    margin-left: 15px;
    text-shadow: rgb(71, 197, 255) 1px 1px;
    transition: all 1500ms ease-in-out;
}

figure>img
{
    display: block;
    border: rgb(71, 197, 255) solid 5px;
    margin-top: 100px;
    float:right;
    width: 25%;
    height: 100%;    
    transition: all 1500ms ease-in-out;
}

#izquierda>hgroup:hover
{
    transform: scale(1.3);
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.644);
}

figure>img:hover
{
    transform: scale(1.3);
    overflow: hidden;
}

hgroup
{
    width: 60%;
    text-align: right;
    float: right;
    margin-right: 30px;
    transition: all 1500ms ease-in-out;
}

#izquierda>h1
{
    font-size: 3em;
    transition: all 1500ms ease-in-out;
}

#izquierda>ul
{
    margin-top: 250px;
    list-style: none;
    text-align: right;
    margin-right: 290px;
    transition: all 1500ms ease-in-out;
}

#izquierda>ul>li
{
    padding: 3.5px;
}

#derecha
{
    background: white;
    border: rgb(71, 197, 255) solid 5px;
    margin-bottom: 100px;
    float: right;
    right: 300px;
    margin-top: 100px;
    margin-right: 10px;   
    width:calc(50% - 25px);
    transition: all 1500ms ease-in-out;
}

#derecha>p
{
    padding: 20px;
}

#derecha li
{
    list-style-image: url("imgul.gif");
}

#derecha>h1
{   
    text-shadow: rgb(71, 197, 255) 1.5px 1.5px;
    padding-bottom: 25px;
    text-align: center;
    border-bottom: rgb(71, 197, 255) solid 5px;
    transition: all 1500ms ease-in-out;
}

footer
{
    position: fixed;
    width: 100%;
    bottom: 1px;
}

footer>figure
{
    width: 55px;
    height: 78px;
    float: right;
    margin: 1em;
    margin-top: 10px;
    padding: 5px;
    transition: all 1500ms ease-in-out;
}

footer figure:hover
{
    transform:rotate(-720deg);
    transition: all 1000ms ease-in-out;
}

footer>figure>img
{
    width: 55px;
    height: 65px;
}